---
layout: default
---


<div class="row">
	{% for property in site.posts %}
	<div class="col-sm-4">
		<div class="card-deck">
			<div class="card bg-light mb-3">
				<div class="card-header">
					<h5 class="card-title">
						<a href="{{site.baseurl}}{{property.url}}" class="text-dark">{{property.title}} in {{property.district}}, {{ property.street }}</a>
					</h5>
				</div><!-- /card-header -->
				<div class="card-body">
					<img class="card-img" src="{{property.img[1]}}">
				</div><!-- /card-body -->
				<div class="card-footer">
					<p>
					{% for category in property.categories %}
					<a class="badge badge-danger text-white">{{ category }}</a>
					{% endfor%}
					</p>
				</div><!-- /card-footer -->
			</div><!-- /card -->
		</div><!-- /card-deck -->
	</div><!-- /col-sm -->
	{% endfor %}
</div><!-- /row -->
