---
layout: default
---

<div class="uk-section uk-section-primary uk-section-xsmall uk-animation-slide-left-medium">

	<div class="uk-inline">
		<a href="{{site.baseurl}}/" class="uk-icon-link" uk-icon="icon: arrow-left; ratio: 3.5"></a>
	<h2>{{page.title}} in {{page.district}}, {{page.street}}</h2>
	</div><!-- /uk-inline -->

	<img src="{{page.img[0]}}">
	<button>
		{% if page.rent %}
		{{ page.rent }}
		{% else %}
		{{ page.price }}
		{% endif %}
	</button>

</div><!-- /uk-section uk-section-secondary -->

